extends ../layout

block content
  h1= title
  
  .leftside
   | this is left side
   
  .main 
   table
    - for (var i =0; i < Object.keys(products).length; i++) {
      tr
        td  
          a(href="product/#{products[i].code}") #{products[i].title} 
        td  
          a(href="product/#{products[i].code}") Edit
        td
          a(href="product/#{products[i].code}/delete", onclick="return confirm('Are you sure?')") Delete 
    - }
   br
   a(href="products/new") New 
   br
   - if(paginator['prev'][0]=="active"){
      a(href='#{paginator.prev[1]}', aria-label='Previous')
        span(aria-hidden='true') «
   - } else {
      a(href='#{paginator.prev[1]}', aria-label='Previous')
        span(aria-hidden='true') «
   - }
   - var k = Object.keys(paginator).length-2;
   - for(var i =0; i < k; i++){
      - if (paginator[i][0]=="active") {
          strong
            a(href='#{paginator[i][1]}') #{paginator[i][2]} 
      - }
      - if (paginator[i][0]=="disabled") {
         | #{paginator[i][2]}
      - }
      - if (paginator[i][0]=="normal") {
         a(href='#{paginator[i][1]}') #{paginator[i][2]}
      - }
    -}
    - if(paginator['next'][0]=="active"){
      a(href='#{paginator.next[1]}', aria-label='Next')
        span(aria-hidden='true') »
    - } else {
      a(href='#{paginator.next[1]}', aria-label='Next')
        span(aria-hidden='true') »
    - }            